    <div ng-controller="HomeCtrl">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Marvel Toys</h2>
            </div>
            <div class="col-md-12">
                <table>
                    <thead>
                        <tr>
                            <td>Id</td>
                            <td>Name</td>
                            <td>Age</td>
                            <td>Price</td>
                            <td>Company</td>
                            <td>Description</td>
                            <td>Actions</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in rows">
                            <td>{{row.Id}}</td>
                            <td>{{row.Name}}</td>
                            <td>{{row.AgeDescription}}</td>
                            <td>{{row.Price}}</td>
                            <td>{{row.Company}}</td>
                            <td>{{row.Description}}</td>
                            <td><button class="btn btn-primay btn-xs" ng-click="edit(row.Id)">Edit</button> | <button class="btn btn-warn btn-xs" ng-click="delete(row.Id)">Delete</button></td>
                        </tr>
                    </tbody>
                    <tfoot><a href="/Add"><h5>Add Toy</h5></a></tfoot>
                </table>
            </div>
        </div>
    </div>
